body {
    background-image: url(../../helpers/9849.jpg);
    background-size: cover;
}
.linea1 {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 3cm;
}
.error {
    width: 150 px;
    height: auto;
    padding-left: 350px;
    padding-top: 90px;

}
.linea2 {
    font-weight: bold;
    font-size: 1cm;
    width: 390px;
}
#volver {
    margin-left: 350px;
}